

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: 20px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  text-align: center;
  justify-content: center;
  margin-bottom: 50px; 
  
}
